/Practica8/practica8/nbproject/private/
/Practica8/practica8/build/
/Practica9/practica9/dist/
/Practica10/practica10/nbproject/private/
/Practica10/practica10/build/
/Practica7b/practica7b_paint2d/nbproject/private/
/Practica7b/practica7b_paint2d/build/
/Practica7/SM.PRG.Biblioteca/dist/
/Practica7b/practica7b_paint2d/dist/
/Practica11/practica11_image/nbproject/private/
/Practica11/practica11_image/build/
/Practica11/practica11_image/dist/
/Practica7/ProyectoSMM/nbproject/private/
/Practica13/practica13_audio/nbproject/private/
/Practica13/practica13_audio/build/